.main{
    /* background-image: linear-gradient(155deg,rgb(8, 127, 160),rgb(120, 0, 176)); */
    background-color: rgb(255, 136, 0);
    /* background-image: url('images/bg.jpg');
    background-size: cover; */
    height: 100vh;
}

.login{
    position: relative;
   
    display: flex;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    
  }
  .card{
    border-radius: 10px;
    background-image: linear-gradient(135deg,rgb(255, 255, 255,0.1),rgb(255, 255,255,0.05));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: white;
    background-color:transparent;
    padding: 30px;
    box-shadow: 2px 2px 5px white,inset 2px 2px 5px white;
  }
  input{
    border: none;
    border-radius: 5px;
    padding:5px;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color:transparent !important;
    outline: none;
    padding-bottom: 5px;
    color: white;
  }
  ::placeholder{
    color: rgb(112, 111, 111);
    font-size: small;
  }
  .header{
    text-align: center;
    font-weight: bolder;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    
  }
  .btn-sm {
    
    background-color: rgb(253, 133, 28);
    color: white !important;
  }

  .btn-sm:hover{
    background-color: rgb(253, 133, 28);
    transform: scale(1.05);
  } 
  p{
    font-size:small;
    
  }
  a{
    color: white;
    text-decoration:none;
    font-weight: 700;
  }
  .sidebtn{
    padding: 0px;
    position: relative;
    top:-2px;
    height: fit-content;
  }
  .sidebtn img{
    position: relative;
    top:-1.5px;
    border-radius: 3px;
  }
  .offcanvas-body a{
    color: black;
  }
  [type=search]{
    position: relative;
    top:2px;
    background-color: white !important;
  }
  .card{
    margin: 20px;
    color: black;
    box-shadow: 2px 2px 10px black,inset 2px 2px 10px rgba(142, 141, 141, 0.893);
  }